.exercise-header {
	min-height: 80px;
	border-radius: 0px;
	background-size: cover;
	background-blend-mode: overlay;
	background-position: center;
}
.header {
	min-height: 400px;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: whitesmoke;
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	.h1 {
		margin-top: 100px;
		width: 100%;
		font-family: poppins-semi-bold;
		font-size: 5rem;
		line-height: 5rem;
		color: rgba(230, 230, 230, 1);
		overflow-wrap: break-word;
	}
	.h2 {
		width: 100%;
		font-family: poppins-semi-bold;
		font-size: 1.5rem;
		line-height: 1.5rem;
		color: rgba(40, 45, 48, 0.9);
	}
}
.exerciseContainer {
	display: flex;
	align-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	.lastValue {
		font-size: 15px;
		font-family: poppins-semi-bold;
		color: #212121;
		width: 100%;
		height: 9.375rem;
		text-align: center;
		font-size: 9.375rem;
		line-height: 9.375rem;
	}
	.unit {
		font-family: poppins-semi-bold;
		font-size: 50px;
		color: #b0bec5;
		text-align: center;
		line-height: 50px;
		width: 100%;
	}
}
.exercise {
	position: relative;
	.addEntry {
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
}
